.right-pane {
  overflow: scroll;
}

.segments-container {
  display: flex;
  align-items: flex-start;
}

.segment {
  border-right: 1px solid #ccc;
  flex: 0;
}

.segment:hover {
  background: #fafafa;
}

.segment.type-service {
  border-right: 3px solid #ddd;
}

.segment:last-child {
  border-right: none;
}

.segment .header {
  height: 60px !important;
  padding: 0 15px;
  text-align: center;
}

.header .heading {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  margin: 1em 0 .6em;
}

.header .explanation {
  font-size: 1.2em;
  color: #999;
}

.header .explanation .matched,
.type-added .heading, .type-unchanged .heading {
  color: #17952F;
}

.header .explanation .not-matched,
.type-removed .heading {
  color: #AC1F1F;
}

.header .explanation b {
  color: #555;
}

.report circle {
  fill: white;
  stroke: #b8b8b8;
  stroke-width: 2px;
}

.report {
  font-family: sans-serif;
  font-size: 10px;
  color: black;
}

.tiploc {
  font-weight: bold;
}

.event-type {
  fill: #999;
}

.report .time {
  fill: #999;
  text-anchor: end;
}

.bar {
  stroke-width: 2px;
  stroke: #b8b8b8;
}

/* Trust */

.trust .report circle,
.trust .bar {
  stroke: #50BF6E;
}

/* GPS */

.gps .report circle,
.gps .bar {
  stroke: #B78450;
}
