.right-pane {
  overflow: scroll;
}

.segments-container {
  display: flex;
  align-items: flex-start;
}

.segment {
  border-right: 1px solid #ccc;
}

.segment:hover {
  background: #f9f9f9;
}

.segment:last-child {
  border-right: none;
}

.segment .header {
  height: 40px !important;
}

.report circle {
  fill: white;
  stroke: #b8b8b8;
  stroke-width: 2px;
}

.report {
  font-family: sans-serif;
  font-size: 10px;
  color: black;
}

.tiploc {
  font-weight: bold;
}

.event-type {
  fill: #999;
}

.report .time {
  fill: #999;
  text-anchor: end;
}

.bar {
  stroke-width: 2px;
  stroke: #b8b8b8;
}

/* Trust */

.trust .report circle,
.trust .bar {
  stroke: #50BF6E;
}

/* GPS */

.gps .report circle,
.gps .bar {
  stroke: #B78450;
}
