<!doctype html>
<html>
  <head>
    <style>
      .stop circle {
        fill: none;
        stroke: rgba(0,0,0,.3);
        stroke-width: 2px;
      }
      .stop {
        font-family: sans-serif;
        font-size: 10px;
        color: black;
      }

      .tiploc {
        font-weight: bold;
      }

      .event_type {
        fill: #999;
      }

      .stop .time {
        fill: #888;
        text-anchor: end;
      }
    </style>
  </head>
  <body>
    <h1>Hello</h1>
    <script src="/static/js/jspm_packages/system.js"></script>
    <script src="/static/js/config.js"></script>
    <script>
      System.import('/static/js/main.js');
    </script>
  </body>
</html>
